Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [5]:
# first 5 rows of the dataset
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [6]:
credit_card_data.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
13949  24754  1.252924 -0.182189 -0.802716  ... -0.051402  0.005112   23.74    0.0
13950  24756 -0.346979 -2.103284 -0.685061  ... -0.149931  0.129795  794.20    0.0
13951  24759 -6.053652 -5.988723  0.810413  ... -0.700463  2.508443   60.00    0.0
13952  24759  1.169121 -1.284945  0.032717  ...  0.015029  0.032067   90.00    0.0
13953  24759 -6.917152  5.854171 -1.652458  ...  1.071374 -0.168831     NaN    NaN

[5 rows x 31 columns]

In [7]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13954 entries, 0 to 13953
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    13954 non-null  int64
 1   V1      13954 non-null  float64
 2   V2      13954 non-null  float64
 3   V3      13954 non-null  float64
 4   V4      13954 non-null  float64
 5   V5      13954 non-null  float64
 6   V6      13954 non-null  float64
 7   V7      13954 non-null  float64
 8   V8      13954 non-null  float64
 9   V9      13954 non-null  float64
 10  V10     13954 non-null  float64
 11  V11     13954 non-null  float64
 12  V12     13954 non-null  float64
 13  V13     13954 non-null  float64
 14  V14     13954 non-null  float64
 15  V15     13954 non-null  float64
 16  V16     13954 non-null  float64
 17  V17     13954 non-null  float64
 18  V18     13954 non-null  float64
 19  V19     13954 non-null  float64
 20  V20     13954 non-null  float64
 21  V21     13954 non-null  float64
 22  V22     13954 non-null  float64
 23  V23     13954 non-null  float64
 24  V24     13954 non-null  float64
 25  V25     13954 non-null  float64
 26  V26     13954 non-null  float64
 27  V27     13954 non-null  float64
 28  V28     13954 non-null  float64
 29  Amount  13953 non-null  float64
 30  Class   13953 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 3.3 MB

In [8]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    1
Class     1
dtype: int64

In [9]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    13897
1.0       56
Name: Class, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction

1 --> fraudulent transaction

In [10]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [11]:
print(legit.shape)
print(fraud.shape)

(13897, 31)
(56, 31)

In [12]:
# statistical measures of the data
legit.Amount.describe()

count    13897.000000
mean        63.773909
std        177.164503
min          0.000000
25%          5.770000
50%         15.900000
75%         52.370000
max       7712.430000
Name: Amount, dtype: float64

In [13]:
fraud.Amount.describe()

count      56.000000
mean       90.815893
std       310.308450
min         0.000000
25%         1.000000
50%         1.000000
75%         1.025000
max      1809.680000
Name: Amount, dtype: float64

In [14]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    10111.481255 -0.217093  0.266252  ...  0.009565  0.002329  63.773909
1.0    12262.107143 -4.727948  4.660436  ...  0.793484 -0.046177  90.815893

[2 rows x 30 columns]

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [15]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [16]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [17]:
new_dataset.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
7828   10911  1.159685  0.379515  1.328155  ...  0.019410  0.025652   15.13    0.0
5925    6536  1.256892  0.081798 -1.025909  ... -0.002321  0.006899   13.31    0.0
13564  24050  0.783460 -0.766538  1.331255  ...  0.042981  0.031839  150.00    0.0
9387   13746  1.109824  0.331352  1.560526  ...  0.013765  0.016206    0.00    0.0
6724    8422 -0.376838  0.016885  0.655841  ...  0.091471  0.071030   16.39    0.0

[5 rows x 31 columns]

In [18]:
new_dataset.tail()

        Time         V1         V2  ...       V28  Amount  Class
11880  20451 -15.819179   8.775997  ... -1.411945     1.0    1.0
12070  20931 -16.367923   9.223692  ... -1.416741     1.0    1.0
12108  21046 -16.917468   9.669900  ... -1.421243     1.0    1.0
12261  21419 -17.467710  10.114816  ... -1.425491     1.0    1.0
12369  21662 -18.018561  10.558600  ... -1.429517     1.0    1.0

[5 rows x 31 columns]

In [19]:
new_dataset['Class'].value_counts()

0.0    492
1.0     56
Name: Class, dtype: int64

In [20]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0     9788.985772 -0.377416  0.325662  ...  0.038659  0.010651  66.114736
1.0    12262.107143 -4.727948  4.660436  ...  0.793484 -0.046177  90.815893

[2 rows x 30 columns]

Splitting the data into Features & Targets

In [21]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [22]:
print(X)

        Time         V1         V2  ...       V27       V28  Amount
7828   10911   1.159685   0.379515  ...  0.019410  0.025652   15.13
5925    6536   1.256892   0.081798  ... -0.002321  0.006899   13.31
13564  24050   0.783460  -0.766538  ...  0.042981  0.031839  150.00
9387   13746   1.109824   0.331352  ...  0.013765  0.016206    0.00
6724    8422  -0.376838   0.016885  ...  0.091471  0.071030   16.39
...      ...        ...        ...  ...       ...       ...     ...
11880  20451 -15.819179   8.775997  ...  2.136424 -1.411945    1.00
12070  20931 -16.367923   9.223692  ...  2.122796 -1.416741    1.00
12108  21046 -16.917468   9.669900  ...  2.108471 -1.421243    1.00
12261  21419 -17.467710  10.114816  ...  2.093541 -1.425491    1.00
12369  21662 -18.018561  10.558600  ...  2.078081 -1.429517    1.00

[548 rows x 30 columns]

In [23]:
print(Y)

7828     0.0
5925     0.0
13564    0.0
9387     0.0
6724     0.0
        ...
11880    1.0
12070    1.0
12108    1.0
12261    1.0
12369    1.0
Name: Class, Length: 548, dtype: float64

Split the data into Training data & Testing Data

In [24]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [25]:
print(X.shape, X_train.shape, X_test.shape)

(548, 30) (438, 30) (110, 30)

Model Training

Logistic Regression

In [26]:
model = LogisticRegression()

In [27]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Model Evaluation

Accuracy Score

In [28]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [29]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9840182648401826

In [30]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [31]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9727272727272728

In [36]:
X_test[100:101]

      Time        V1        V2        V3  ...      V26       V27       V28  Amount
1853  1433  1.362088 -1.207628  0.891732  ... -0.06554  0.082852  0.026045    25.6

[1 rows x 30 columns]

###building a predictive systeam

In [39]:
data = (1433,	1.362088,	-1.207628	,0.891732	,-1.323703	,-1.650829	,-0.054508	,-1.386058	,0.113331,	-1.622994	,1.332663	,0.226684,	-0.639789	,0.4593	,-0.411391,	1.326892,	-0.8338,	1.058877	,-0.700451	,-1.294148,	-0.369493	,0.024994	,0.524326	,0.088893,	0.087156,	0.142786	,-0.06554,	0.082852,	0.026045,	25.6)

input_data = np.asarray(data)
input_data_reshaped = input_data.reshape(1, -1)
prediction = model.predict(input_data_reshaped)
print(prediction)
if(prediction[0]==0):
  print("not a fraud transaction ")
else:
  print("fraud transaction")

[0.]
not a fraud transaction